<section data-ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <h1 class="img-responsive text-center"><strong>Expense</strong> Tracker	</h1>
      </div>
    </div>
    <br>
  </div>
  <div>
    <h2>This is the landing page of Expense Tracker.</h2>
    <p>This is a sample web app built using MEAN stack.</p>
    <p>This sample application lets a user track their monthly expenses and .</p>
    <ul>
      <li>
        Click
        <em>Signup</em> to get started.
      </li>
      <li>
        Once registered, click
        <em>Signin</em> to continue managing your expenses.
      </li>
      <li>
        Generate monthly bill receipt.
      </li>
      <li>
        Have fun...
      </li>
    </ul>
  </div>
</section>
